<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-menu-desplegable>
    <div class="general">
        <div class="titulo">
            <h1>Crear categoría</h1>
        </div>
        <div class="publicacion">
            <br>
            <br>
            <br>
            <mat-form-field class="example-full-width">
            <mat-label>nombre*</mat-label>
            <input matInput placeholder="Ex. Social" [(ngModel)]="nuevaCategoria.nombre">
            </mat-form-field>
            <br>
            <br>
            <div class="editor">
            <p-editor [(ngModel)]="nuevaCategoria.descripcion" [style]="{'height':'150px'}"></p-editor>
            </div>
            <br>
            <br>
            <button mat-raised-button color="accent" [style]="{'margin':'10px'}" [routerLink]="['/publicaciones']">Atrás</button>
            <button mat-raised-button color="accent" [routerLink]="['/publicaciones']" (click)="crearCategoria()">Crear</button>
            

        </div>
    </div>
</app-menu-desplegable>
