<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-menu-desplegable-admi>
    <div class="general">
        <div class="titulo">
            <h1>Retos</h1>
        </div>
        <br>
        <div *ngFor= 'let reto of retos'>
          <app-reto-admi [reto]="reto"></app-reto-admi>
        </div>
        <div class="boton">
            <button mat-raised-button color="primary" [routerLink]="['/perfilAdmi']">Atrás</button>
        </div>
    </div>
</app-menu-desplegable-admi>

