<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-menu-desplegable>
    <div class="general">
        <div class="titulo">
            <h1>Publicaciones</h1>
        </div>
        <br>
        <div *ngFor= 'let post of posts'>
          <app-publicacion [post]="post"></app-publicacion>
        </div>
        <div class="boton">
            <button mat-raised-button color="primary" [routerLink]="['/perfilAdmi']">Atrás</button>
        </div>
    </div>
</app-menu-desplegable>