<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="general">
        <div class="contenido">
            <div class="tarjeta">
                <h3>{{categoria.nombre}}</h3>
                <div [innerHtml]="categoria.descripcion"></div>
                <button mat-raised-button color="accent" [style]="{'margin':'10px'}" (click)="eliminarCategoria()" [routerLink]="['/perfilAdmi']">Eliminar</button>
                <button mat-raised-button color="primary" [routerLink]="['/editarCategoria']" (click)="editar(categoria)">Editar</button>
            </div>
        </div>
    </div>
