<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="cabecera">
        <h1>Socigence App</h1>
        <!--<mat-icon aria-hidden="false" class="iconoTitulo">group</mat-icon>-->
    </div>
    <br>

    <div class="registro">
        <mat-form-field class="example-full-width">
            <mat-label>Nombres*</mat-label>
            <input matInput placeholder="Ex. Juan Felipe" [(ngModel)]="nuevoUsuario.nombre">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Username*</mat-label>
            <input matInput placeholder="Ex. Peña Paiba" [(ngModel)]="nuevoUsuario.username">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. juan123@gamil.com" [(ngModel)]="nuevoUsuario.email">
        </mat-form-field>
        <br>
        <div class="listboxDocumento">
            <p-listbox [options]="tipoDoc" [(ngModel)]="nuevoUsuario.IdTipo" optionLabel="nombre" [style]="{'width':'15rem'}"></p-listbox>
        </div>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Numero de identificación</mat-label>
            <input matInput placeholder="Ex. 123456789" [(ngModel)]="nuevoUsuario.IdNumero">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Ex. 3201234567" [(ngModel)]="nuevoUsuario.Telefono">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="nuevoUsuario.contrasena">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        
        <div class="contenido-buttons">
            <div class="tipoBox">
                <label id="example-radio-group-label">Elige tu tipo de usuario:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="nuevoUsuario.usertipo">
                <mat-radio-button class="example-radio-button" *ngFor="let tipo of tipos" [value]="tipo" [color]="color">
                {{tipo}}
                </mat-radio-button>
                </mat-radio-group>
                <div class="rolChoose">El rol escogido es: {{nuevoUsuario.usertipo}}</div>
            </div>
        </div>
        <button mat-raised-button color="accent" style="margin: 5px;" [routerLink]="['/home']">Atrás</button>
        <button mat-raised-button color="accent" [routerLink]="['/publicaciones']" (click)="crearUsuario()">Regístrate</button>
    </div>
</div>

