<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="cabecera">
        <h1>Socigence App</h1>
        <!--<mat-icon aria-hidden="false" class="iconoTitulo">group</mat-icon>-->
    </div>
    <br>

    <div class="registro">
        <mat-form-field class="example-full-width">
            <mat-label>Nombres*</mat-label>
            <input matInput placeholder="Ex. Juan Felipe">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Apellidos*</mat-label>
            <input matInput placeholder="Ex. Peña Paiba">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. juan123@gamil.com">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Tipo de documento</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">Cédula de ciudadanía</mat-option>
              <mat-option value="2">Tarjeta de identidad</mat-option>
              <mat-option value="3">Cédula de extranjería</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Numero de identificación</mat-label>
            <input matInput placeholder="Ex. 123456789">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Ex. 3201234567">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" style="margin: 5px;" [routerLink]="['/home']">Atrás</button>
        <button mat-raised-button color="accent" [routerLink]="['/publicaciones']">Regístrate</button>
    </div>
</div>

