<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-menu-desplegable-admi>
    <div class="general">
        <div class="titulo">
            <h1>Lista de Usuarios</h1>
        </div>
        <br>
        <div *ngFor= 'let usuario of usuarios'>
          <app-usuario [usuario]="usuario"></app-usuario>
        </div>
        <div class="boton">
            <button mat-raised-button color="primary" [routerLink]="['/perfilAdmi']">Atrás</button>
        </div>
    </div>
</app-menu-desplegable-admi>

