*{
    box-sizing: border-box;
}

.general{
    width: 100%;
    height: 100%;
}

h1{
    font-family: fantasy;
    font-size: 50px;
    color: #1ABC9C;
    text-align: center;
    margin-top: 2%;
}

.foto{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #CCD1D1;
    border-radius: 5px;
}

.image{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

h2{
    font-family: fantasy;
    font-size: 30px;
    color: #F0B27A;
    text-align: center;
}

.opciones{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #CCD1D1;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: fantasy;
    color: #42A5F5;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}

.opcion1{
    padding: 5px;
    background-color: #D1C4E9;
}

.opcion2{
    padding: 5px;
    background-color: #FFCDD2;
}

.opcion3{
    padding: 5px;
    background-color: #D1C4E9;
}

.opcion4{
    padding: 5px;
    background-color: #FFCDD2;
}

.opcion5{
    padding: 5px;
    background-color: #D1C4E9;
}

@media only screen and (max-width: 840px){
    .general{
        width: 100%;
    }

    h1{
        text-align: center;
        font-family: fantasy;
        padding: 10px;
        margin-bottom: 2%;
        font-size: 40px;
    }

    h2{
        font-family: fantasy;
        font-size: 20px;
        color: #F0B27A;
        text-align: center;
    }

    .foto{
        width: 90%;
    }

    .opciones{
        width: 90%;
    }
}