<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="general">
        <div class="contenido">
            <div class="tarjeta">
                <h3>{{reto.titulo}}</h3>
                <p><b>Categoría: </b>{{reto.categoria.nombre}}</p>
                <div [innerHtml]="reto.descripcion"></div>
                <button mat-raised-button color="accent" [style]="{'margin':'10px'}" (click)="eliminarReto()" [routerLink]="['/perfilAdmi']">Eliminar</button>
                <button mat-raised-button color="primary">Editar</button>
            </div>
        </div>
    </div>
