<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name"><mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>Socigence App</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <a mat-list-item routerLink="/home"> <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> Home</a>
            <a mat-list-item routerLink="/login"> <span class="material-icons">mood</span> Ver retos </a>
            <a mat-list-item routerLink="/crearPublicacion"> <span class="material-icons">border_color</span> Realizar publicación </a>
            <a mat-list-item routerLink="/publicaciones"> <span class="material-icons">search</span> Ver publicaciones </a>
            <a mat-list-item routerLink="/home"> <span class="material-icons">grade</span> Reclamar premio </a>
            
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>

        <ng-content></ng-content>
        <router-outlet></router-outlet>
        
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
