<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-menu-desplegable>
    <div class="general">
        <div class="titulo">
            <h1>Realizar publicación</h1>
        </div>
        
        <div class="publicacion">
            <br>
            <mat-form-field class="example-full-width">
            <mat-label>Titulo*</mat-label>
            <input matInput placeholder="" [(ngModel)]="newPost.titulo">
            </mat-form-field>
            <br>
        
            <div class="input-id-proyecto">
                <p-listbox [options]="categorias" [(ngModel)]="selectedCategoria" optionLabel="nombre" [style]="{'width':'15rem'}"></p-listbox>
            </div>
            <br>

            <div class="editor">
            <p-editor [(ngModel)]="newPost.descripcion" [style]="{'height':'150px'}"></p-editor>
            </div>
            <br>
            <button mat-raised-button color="accent" [style]="{'margin':'10px'}" [routerLink]="['/perfil']">Atrás</button>
            <button mat-raised-button color="accent" [routerLink]="['/perfil']" (click)="crearPost()">Publicar</button>

        </div>
    </div>
</app-menu-desplegable>
