<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="cabecera">
        <h1>Socigence App</h1>
    </div>
    <br>

    <div class="contenido">
        <h2>¡Bienvenido a Socigence App!</h2>
        <p class="texto">Socigence App es una aplicación móvil que premia las buenas acciones de sus ciudadanos en la localidad
            de Engativá. Desde descuentos en diversas tiendas hasta promociones para tus restaurantes favoritos, 
            tu aporte estará al alcance de una foto :).</p>
        <p class="aviso">!Ven y sé parte de un nuevo comienzo!</p>
        <img src="https://github.com/Socigence-App/FrontEndSocigenceApp/blob/main/MyApp/src/app/pictures/Captura%20de%20pantalla%202021-02-14%20185554.png?raw=true" height="200px" width="300px" class="picture">
    </div>
    <br>
    <div class="Menu">
        <label>¿Quieres aportar a tu comunidad?</label>
        <br>
        <button mat-raised-button color="accent" [style]="{'margin':'1%'}" [routerLink]="['/registro']">¡Regístrate aquí!</button>
        <br>
        <label>¿Ya estás registrado?</label>
        <br>
        <button mat-raised-button color="accent" [style]="{'margin':'1%'}" [routerLink]="['/login']"> ¡Inicia sesión!</button>
    </div>
    <br>
    <div class="banner">
        <div class="hijo">
            Valentina Calderon
            <br>
            Ingeniería de Sistemas
        </div>
        <div class="hijo">
            Jhon Jairo Ballen
            <br>
            Ingeniería de Sistemas
        </div>
        <div class="hijo">
            Juan Felipe Peña
            <br>
            Ingeniería de Sistemas
        </div>
    </div>
</div>