<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-menu-desplegable-admi>
    <div class="general">
        <div class="titulo">
            <h1>Crear recompensa</h1>
        </div>
        <br>
        <div class="recompensa">
            <mat-form-field class="example-full-width">
            <mat-label>Titulo de la recompensa</mat-label>
            <input matInput [(ngModel)]="nuevaRecompensa.titulo">
            </mat-form-field>
            <br>
            <br>
            <div class="editor">
            <p-editor [(ngModel)]="nuevaRecompensa.descripcion" [style]="{'height':'150px'}"></p-editor>
            </div>
            <br>
            <br>
            <button mat-raised-button color="accent" [style]="{'margin':'10px'}" [routerLink]="['/perfilAdmi']">Atrás</button>
            <button mat-raised-button color="accent" [routerLink]="['/perfilAdmi']" (click)="crearRecompensa()">Crear</button>
            

        </div>
    </div>
</app-menu-desplegable-admi>

